/*
	font-family:'Playfair Display',serif;
	font-family:'Shipporri Mincho'serif;
	color:243,233,220;
	color:192,133,82;
	color:94,48,35;
	color:137,87,55;
	color:218,180,157;

	color:238,226,223;
	color:238,215,197;
	color:200,159,156;
	colorr:201,124,93;
	color:179,106,94;
*/

.content{
	padding-top:3%;
}
.navbar{
	font-family:'Shippori Mincho',serif;
	font-weight: 700;
}


h1,h3,h2,h4{
	font-family:'Playfair Display',serif;
	color:rgb(94,48,35);
	padding-left: 3%;
} 
p{
	font-family:'Shippori Mincho',serif;
	padding-left: 3%;
	color:rgb(94,48,35);
}
li,ul{
	font-family:'Shippori Mincho',serif;
	padding-left: 3%;
	color:rgb(94,48,35);
}
body{
	background-color: rgb(253,243,230);
}
h1{
	font-size:50px;
	padding-bottom:1%;
	background-color: rgb(218,180,157);
	text-align:center;
}
h2{
	padding-bottom: 1.5%;
	font-size: 40px;
}
h3,h4{
	font-size: 20px;
}
h2,h3,h4,p,li,ul{
	
}


